.jumbotron {
    background-color:black;
    color:rgb(194, 127, 20);
    font-family:roboto;
    font-size: larger;  
    
    margin:0px;
    padding:10px;
    
   
   
}
h1 {
    display:block;
    text-align:center;
    
       
}
.center-block {
    padding-top: 140px;
    width:600px;
    border-radius: 10%;
}

.img-fluid {
   max-width:100%;
   height:100px;  
   
}


.img-thumbnail {
    width:100%;
    margin-left:10px;
    background-color:black;
}

body {
    background-color:rgb(245, 245, 112);
    background-image:linear-gradient(rgb(201, 118, 24),black,rgb(201, 118, 24));
}

 .navbar {
     background-color:black;
     margin:0px;
     border-style:solid;       
 }

 .nav-link  {
     color:rgb(194, 127, 20);
     
     font-family:roboto;
     font-size: 18px;    
     padding-left: 10px;
     margin-left: 20px;
 }

 .site-footer{
     background-color:black;
     color:rgb(194, 127, 20);
     font-family:roboto;
   
 }

 .btn:any-link {
    color:rgb(194, 127, 20);
    font-family:roboto;
    
 }

 .list, .flavored {
     color:white;
     background-color: black;
     border-style: solid;
     border-color:rgb(194, 127, 20);
 }

 .type {
    color:black;
    font-family:roboto;
    border-style: solid rgb(172, 25, 25);
 }

 .davidoff {
    color:white;
    background-color: black;
    border-style: solid;
    border-color:rgb(194, 127, 20);
 }

 .carousel-caption {
    font-family:roboto;
    color:rgb(194, 127, 20);
    background-color: rgba(0, 0, 0, 0.5);
 }

 .fuente:hover{
    transform: scale(2.5);
     color:white;
     background-color: black;
     border-style: solid;
     border-color:rgb(194, 127, 20);
 }

 .mrBlack {
    color:white;
    background-color: black;
    border-style: solid;
    border-color:rgb(194, 127, 20);;
 }

 .text-warning {
    font-family:roboto;
        
    }
 
  .f, .l, .e, .c {
   color: rgb(184, 135, 57);
  }

  .formTitle {
    color:rgb(194, 127, 20);
    font-family: roboto;
  }
 
 .modal-body {
     background-color:black;
 }

 .modal-header, .modal-footer {
     background-color: rgb(194, 127, 20);
 }

 .ourCig {
    font-family: roboto;
    color:black;
 }